html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.center-box {
    display: flex;
    justify-content: center;
}

.custom-card {
    width: 100%;
}

@media (min-width: 768px) {
    .custom-card {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .custom-card {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .custom-card {
        width: 35%;
    }
}

@media (min-width: 1400px) {
    .custom-card {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .table thead {
        display: none;
    }

    .table tbody tr:not(.accordion-collapse) {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 1rem;
    }

        .table tbody tr:not(.accordion-collapse) td {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0.5rem;
            flex-basis: 50%;
        }

            .table tbody tr:not(.accordion-collapse) td:before {
                content: attr(data-label);
                font-weight: bold;
                margin-bottom: 0.25rem;
            }
    .mobile-photo-right {
        display: flex;
        justify-content: space-between;
    }
}







