html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.center-box {
    display: flex;
    justify-content: center;
}

.custom-card {
    width: 100%;
}

@media (min-width: 768px) {
    .custom-card {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .custom-card {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .custom-card {
        width: 35%;
    }
}

@media (min-width: 1400px) {
    .custom-card {
        width: 20%;
    }
}



.hr.hr-blurry.white-divider {
    background-color: white;
    border-color: white;
}


body, html {
    height: 100%;
}

.flex-fill {
    flex: 1;
}

.boxloginfill{
    display: flex;
}

.header-table {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}


/* Fix table layout */
/*.table {
    table-layout: fixed;
    width: 100%;
}*/

/* Make header cells sticky */
.header-table th {
    position: sticky;
    top: 60px; /* Adjust this value according to your navbar height */
    background-color: white;
    z-index: 1000;
}

th{
    position: sticky;
    top: 50px; /* 0px if you don't have a navbar, but something is required */
    background: white;
}

tbody{

}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f5f5f5 !important; /* set your desired color here */
}

h1, h2, h3, h4, h5, .b4b-font {
    font-family: 'Gowun Batang', sans-serif;
}