@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Get started</h3>

<p>
    Getting started with BugsForBugs is easy! 
    Simply create an account on our website and start reporting bugs. 
    Our user-friendly platform will guide you through the process, making it easy to report and prioritize bugs. 
    Once you've submitted a bug report, the product team will review it and work with you to find a solution. 
    Join the BugsForBugs community today and streamline your bug reporting process!
</p>