@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Get started</h3>

<p>Welcome to <strong class="b4b-font">Bugs<span style="color: #FFCD29">4</span>Bugs</strong>! We're excited to have you join our community of bug-reporting enthusiasts who are dedicated to improving product quality and protecting the environment.</p>
<p>Getting started with BugsForBugs is easy! Here's a step-by-step guide to help you set up your account and start reporting bugs:</p>
<ol>
    <li><strong>Register your account:</strong> Start by registering your account with BugsForBugs. This will enable you to access all of our features and services. We only require a valid email address to create an account.</li>
    <li><strong>Add your product:</strong> Once you've created an account, you can add your product by providing details about the product and the platform it's built on. This step is important because it allows us to tailor our services to your specific needs.</li>

    <li><strong>Setup your team of technicians:</strong> Next, you can add your team of technicians who will be responsible for resolving the bugs. This step is crucial because it allows us to send bug reports directly to your team, making the process more efficient.</li>

    <li><strong>Receive your bug reports:</strong> With your product and team set up, you can now start receiving bug reports from your users. BugsForBugs automatically prioritizes and categorizes the bugs, making it easier for your team to tackle them.</li>

    <li><strong>Save the bees:</strong> As a final step, we encourage our users to make a positive impact on the environment by contributing to our Save the Bees program. With every bug reported and resolved, a portion of our profits is donated to organizations that support pollinating insects like bees and butterflies.</li>
</ol>
<p>That's it! By following these simple steps, you can start using BugsForBugs to improve your product quality, streamline your bug-fixing process, and make a positive impact on the environment.</p>