@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Our product</h3>


<p>
    Looking for a better way to manage your software bugs?
    BugsForBugs has got you covered! Our user-friendly platform
    allows you to report bugs quickly and easily, so your team can
    focus on delivering high-quality software. Our platform is
    designed to streamline your bug reporting process and make it
    simple to prioritize issues, ensuring that your team stays on
    top of any problems that arise. Say goodbye to tedious bug
    reporting and hello to high-quality software!

</p> 