@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <div>
        <p>
            At BugsforBugs, we take privacy seriously and are committed to protecting
            the personal data of our users. This Privacy Policy explains how we collect,
            use, disclose, and protect personal data that we collect through our
            website.
        </p>

        <h5>Collection and Use</h5>

        <p>
            We collect personal data that you provide when you register for an account
            or submit a bug report. This data includes your name, email address, and
            other details that you provide. We use this data to provide you with our
            services and to communicate with you about your account or bug report. We
            may also collect data automatically through our website, such as your IP
            address, browser type, and usage data. We use this data to improve our
            website and to analyze usage patterns.
        </p>

        <h5>Data Sharing and Disclosure</h5>

        <p>
            We may share personal data with third-party service providers that help us
            operate our website and provide our services. We require these providers to
            use the data only for the purpose of providing services to us and to
            maintain appropriate security measures to protect the data. We may also
            disclose personal data if required by law or in response to legal process,
            such as a court order or subpoena.
        </p>

        <h5>Data Retention and Deletion</h5>
        <p>
            We retain personal data only for as long as necessary to provide our
            services and to comply with legal obligations. We may retain data longer if
            required by law or if we have a legitimate business need. You can manage
            your personal data by logging into your account and updating your profile
            information. You can also request that we delete your account and personal
            data by contacting us at privacy@Bugs4Bugs.com. Please note that deleting
            your account may result in the loss of access to our services.
        </p>

        <h5>Data Security</h5>
        <p>
            We use reasonable security measures to protect personal data against loss, theft, and
            unauthorized access or disclosure. However, no security measure is perfect,
            and we cannot guarantee the security of personal data.
        </p>

        <h5>Your Rights Under the GDPR</h5>

        <p>
            you have certain rights with respect to your personal data. These include
            the right to access, correct, and delete personal data, as well as the right
            to object to or restrict processing of personal data. To exercise these
            rights, please contact us at privacy@Bugs4Bugs.com.
        </p>

        <h5>Changes to this Privacy</h5>
        <p>
            Policy We may update this Privacy Policy from time to time by posting a new
            version on our website. We encourage you to review this Policy periodically
            to stay informed about our data handling practices. Contact Us If you have
            any questions or concerns about this Privacy Policy or our data handling
            practices, please contact us at privacy@Bugs4Bugs.com.
        </p>
    </div>


</div>
