@model LoginVM
@{
    ViewBag.Title = "Sign in";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Account" asp-action="Login">
    <input asp-for="UserName" placeholder="Username" class="mb-3" />
    <br />
    <input asp-for="Password" placeholder="Password" class="mb-3" />
    <br />
    <input type="submit" value="Log In" />
</form>

<div asp-validation-summary="All"></div>
