@model Bugs4Bugs.Views.Account.RegisterVM
@{
    ViewBag.Title = "Register";
}

<h1>@ViewData["Title"]</h1>

     <form asp-controller="Account" asp-action="Register">


        <input class="mb-3" asp-for="FirstName" placeholder="First Name" />
        <br/>
        <input class="mb-3" asp-for="LastName" placeholder="Last Name" />
        <br/>
        <input class="mb-3" asp-for="UserName" placeholder="Username" />
        <br/>
        <input class="mb-3" asp-for="Email" placeholder="Email" />
        <br/>
        <input class="mb-3" asp-for="Password" placeholder="Password" />
        <br/>
        <input class="mb-3" asp-for="PasswordRepeat" placeholder="Confirm password" />

        

        
    

        <br />
        <input type="submit" value="Sign me up" />
    </form>
    <br />
    <div asp-validation-summary="All"></div>

