@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3>@User.Identity.Name</h3>
    <h3>Is user: @User.IsInRole("User")</h3>
    <h3>Is Technician: @User.IsInRole("Technician")</h3>
    <h3>Is Owner: @User.IsInRole("Owner")</h3>
    <a class="nav-link" asp-controller="Account" asp-action="Secret" asp-route-role = "Technician">Make me technician</a>
    <a class="nav-link" asp-controller="Account" asp-action="Secret" asp-route-role="Owner">Make me owner</a>
}
