@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Bugs4Bugs.Views.Ticket.ChooseProductVM[]

<h1 class="text-center">Available Products</h1>
<div class="row" style="justify-content: center">
    <div class="col-6">
        <div class="input-group mb-4">
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
            </div>
            <button type="button" class="btn btn-primary" id="search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>

<partial name="_ProductList" model="Model" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search-button").click(function () {
            var searchTerm = $("#form1").val().toLowerCase().trim();

            $(".product-card").each(function () {
                var productName = $(this).attr("data-product-name").toLowerCase();
                if (productName.includes(searchTerm)) {
                    $(this).parent().show();
                } else {
                    $(this).parent().hide();
                }
            });
        });
    });
</script>


