@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Bugs4Bugs.Views.Ticket.ChooseProductVM[]

<h1>Available Products</h1>
<input class="mb-3" type="text" placeholder="Search"  />
 
 <div class="row row-cols-3 row-cols-md-3 g-4">
@for (int i = 0; i < Model.Length; i++)
{
        <div class="col-sm-6 mb-3 mb-sm-0" >
                <div class="card display-flex align-items-center" style="height: 200px;">
                <img src="@Model[i].PhotoURL" class="card-img-top mt-2" alt="..." style="width: 80px;">
                    <div class="card-body">
                    <strong><h6 class="card-title">@Model[i].productName</h6></strong>
                         @*<p class="card-text"></p>*@

                    <a asp-action="CreateTicket" asp-controller="Ticket" asp-route-prodName="@Model[i].productName" class="btn btn-primary">Create ticket</a>
                          <br />
                     </div>
                </div>
          
            </div>
        
    
    
        
        
}
        </div>
      


