@model CreateTicketVM

@{
    ViewBag.Title = "Create Ticket";
}

<br />
<h1 class="text-center">@ViewData["Title"]</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 center-box">
            <div class="card">
                <div class="card-header">
                    Create Ticket
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="Product">Product: @Model.ProductName</label>
                            
                               
                        </div>
                        <div class="form-group">
                            <label for="bugType">Bug Type:</label>
                            <select class="form-control" id="bugType" asp-for="BugTypes" asp-items="@new SelectList(Model.BugTypes)">
                                <option value="">-- Select a bug type --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="urgency">Urgency:</label>
                            <select class="form-control" id="urgency" asp-for="UrgencyLevels" asp-items="@new SelectList(Model.BugTypes)">
                                <option value="">-- Select an urgency --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" rows="3"></textarea>
                        </div>
                        <input type="submit" value="Create ticket" />
                    </form>
                </div >
            </div>
        </div>
    </div>
</div>
