@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MyProfileVM

<h3>My Profile</h3>
<hr />

@if (Model.ProductVMs.Length != 0 && Model.ProductVMs != null)
{
    <h5>My Products</h5>
<partial name="_ProductList" model="Model.ProductVMs" />
    
}
@if (Model.TicketVMs.Length != 0 && Model.TicketVMs != null)
{
    <h5>My Tickets</h5>
<partial name="_TicketList" model="Model.TicketVMs" />
}
